#emploi{
	border: 3px outset orange;
	max-width:60vw;
	margin-top: 5vh;
	background-color: #ffdb4d;
}
#emploi>p{
margin-left:10vw;
width: 40vw;
}

#emploi>h3{
	text-align: center;
	text-decoration: underline;
}


/*  Feuille css servant a afficher les emplois */ 