.wrapper {
  min-height: 49vh;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
}
#footer, .push {
	min-height: 12vh;
}

#footer{
	display: flex;
	flex-direction: row;
	background-color: #b3b3ff;
	border: 5px outset;
	width:60vw;
}


#footer>h2{

	text-decoration: underline;
}

div#englobe{
	margin-left: 3vw;
	display: flex;
	width:40vw;
	flex-direction: column;
	border-right: 2px dotted darkblue;
}
div#RD{
	display: flex;
	flex-direction: row;
}

div#renseignements{
	margin-top: 1.5vh;
	width:15vw;
	height:15vh;

}
div#contact{
	margin-top: 5vh;
	width:13vw;
	height:15vh;

}


div#decharges{
	width:24vw;
	height:15vh;
}


/* Feuille css permettant de coller le footer en bas de la page, ainsi qu'à le mettre en plusieurs boites */