fieldset{
	display: flex;
	flex-direction: column;
	width:50vw;
	align-self: center;
	margin-left:5vw;
	margin-top:5vh;
	box-shadow: 15px 15px lightgrey;
	border-radius: 2vw;
	border-style: outset;
}

form{
	display flex;
	flex-direction: column;
	justify-content: space-between;	
}

label{
	display: inline-block;
	margin-bottom: .5%;
}
input{
	margin-right: 100%;
	display: inline-block;
	margin-bottom: 2%;
}

select{
	margin-right: 100%;
	display: inline-block;
	margin-bottom: 2%;
}

button{
	margin-left: 2.5%;
	width: 95%;
	border-radius: 10px;
}

h2{
	text-align: center;
	text-decoration: underline;	
}


fieldset#facture{
	background-color: #FF6666;
	border: 2px outset red;
}

fieldset#Employe{
	background-color: pink;
	border: 2px outset purple;
}

fieldset.MotDePasse{
	background-color: lightgreen;
	border: 2px outset green;
}

fieldset#signup{
	background-color: pink;
	border: 2px outset purple;
}

fieldset#enfant{
	background-image:linear-gradient( #e0e0eb, darkgrey);
	border: 2px outset;
}