fieldset{
	display: flex;
	flex-direction: column;
	width:50vw;
	align-self: center;
	margin-left:5vw;
	margin-top:5vh;
	background-color: lightgreen;
	box-shadow: 15px 15px lightgrey;
	border-radius: 2vw;

}

form{
	display flex;
	flex-direction: column;
	justify-content: space-between;	
}

label{
	display: inline-block;
	margin-bottom: .5%;
}
input{
	margin-right: 100%;
	display: inline-block;
	margin-bottom: 2%;
}

select{
	margin-right: 100%;
	display: inline-block;
	margin-bottom: 2%;
}

button{
	width: 100%;
}

h2{
	text-align: center;
	text-decoration: underline;	
}
