/* The side navigation menu */
.sidebar {
  width: 10vw;
  background-color: #293133;
  position: fixed;
  left:0;
  bottom:0;
  top:0;
  padding-top: 20vh;
  height: auto;
  overflow: auto;
}

/* Liens de la sidebar*/
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}



/* Liens qui se colorent au survol de la souris  */
.sidebar a:hover:not(.active) {
  background-color: #ff6666;
  color: white;
}


div.content {
  
  padding: 1px 16px;
  height: auto;
}



