/* Défini la couleur de fond de la page sur toutes les pages lorsque l'utilisateur est connecté */
body{
	display: flex;
	justify-content: center;
	background-color: #368bb0;
}



/* Sers à formater tous les divs du header pour les rendre ovales et de couleurs pastel. */
/* div permettant de placer le header en haut au centre du site. */
div#header{
	align-self: center;
	display:flex;
	flex-direction: row;
	border-radius: 10px;
	border: 5px outset;
	background-color: #ffffcc;
	justify-content: center;
	width:60vw;
	height: 15vh;
}

div#headerHautBas{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:80%;
}

div#recrutement{
	border-radius: 30px;
	background-color: #ffdb4d;
	border: 2px solid white;
	padding: 10px;
}
img#logo{
	height: 150px;
}
div#recrutement>a{
	color:black;
	text-decoration: none;
}

div#Projet{
	border-radius: 30px;
	background-color: lightblue;
	border: 2px solid white;
	padding: 10px;
}

div#Projet>a{
	color:black;
	text-decoration: none;
}


div#inscriptionEnfant{
	border-radius: 30px;
	background-color: lightgrey;
	border: 2px solid white;
	padding: 10px;
}
div#inscriptionEnfant>a{
	color:black;
	text-decoration: none;
}

div#deposFacture{
	border-radius: 30px;
	background-color: #ff6666;
	border: 2px solid white;
	padding: 10px;
}
div#deposFacture>a{
	color:black;
	text-decoration: none;
}

div#inscritEmploye{
	border-radius: 30px;
	background-color: pink;
	border: 2px solid white;
	padding: 10px;
}
div#inscritEmploye>a{
	color:black;
	text-decoration: none;
}

div#moncompte{
	border-radius: 30px;
	background-color: lightgreen;
	border: 2px solid white;
	padding: 10px;
}

div#moncompte>a{
	color:black;
	text-decoration: none;
}

div#Deconnexion{
	border-radius: 30px;
	background-color: black;
	border: 2px solid white;
	padding: 10px;

}

div#Deconnexion>a{
	color:white;
	text-decoration: none;	
}

/* colle le logo sur le coté du header. */
img#logo{
	height: 15vh;
	margin-left: -6vw;
}

div#headerhaut{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2%;
	width:100%;
}

div#headerbas{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2%;
	width:100%;
}

div#vide{
	padding: 0 6.5vw; 
}
/* affiche les liens admin */
div#headerbasadmin{
	display: flex;
	flex-direction: row;
	justify-content: space-around; ;
	margin-top: 2%;
	width:100%;
}

/* Permet d'afficher les validations au centre de l'écran */
p.inscrit{
	text-align: center;
	margin-top: 10vh;
	margin-left:15vw;
	border: 2px outset;
	background-color: lightgrey;
	width:30vw;
	height: 6vh;
	padding-top: 3vh;
	border-radius:2vw;
}

div#pts{
	padding: 3%;
	background-color: lightgrey;
	border: 2px outset;
	border-radius: 20px;
	box-shadow: 10px 10px #245b75;
}