body{
	display: flex;
	justify-content: center;
	background-color: #ccffe6;
}
div#header{
	
	display:flex;
	flex-direction: row;
	border-radius: 10px;
	border: 5px outset;
	background-color: #ffffcc;
	justify-content: center;
	width:60vw;
	height: 15vh;
}

div#headerHautBasPre{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width:80%;
}

div#Connexion{
	border-radius: 30px;
	background-color: lightgreen;
	border: 2px solid white;
	padding: 10px;
}

div#Connexion>a{
	color:black;
	text-decoration: none;
}

div#Projet{
	border-radius: 30px;
	background-color: lightblue;
	border: 2px solid white;
	padding: 10px;
}

div#Projet>a{
	color:black;
	text-decoration: none;
}

div#recrutement{
	border-radius: 30px;
	background-color: #ffdb4d;
	border: 2px solid white;
	padding: 10px;
}
div#recrutement>a{
	color:black;
	text-decoration: none;
}
div#Sign{
	display:flex;
	flex-direction: row;

}
img#logo{
	height: 150px;
}


div#Inscription{
	border-radius: 30px;
	background-color: pink;
	border: 2px solid white;
	padding: 10px;
	
}

div#Inscription>a{
	color:black;
	text-decoration: none;
}

