body{
	display: flex;
	justify-content: center;
	background-color: #368bb0;
}
/* div permettant de placer le header en haut au centre du site. */
div#header{
	display:flex;
	flex-direction: row;
	border-radius: 10px;
	border: 5px outset;
	background-color: #ffffcc;
	justify-content: center;
	width:60vw;
	height: 15vh;
}

div#headerHautBasPre{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width:80%;
}

div#Connexion{
	border-radius: 30px;
	background-color: lightgreen;
	border: 2px solid white;
	padding: 10px;
}

div#Connexion>a{
	color:black;
	text-decoration: none;
}

div#Projet{
	border-radius: 30px;
	background-color: lightblue;
	border: 2px solid white;
	padding: 10px;
}

div#Projet>a{
	color:black;
	text-decoration: none;
}

div#recrutement{
	border-radius: 30px;
	background-color: #ffdb4d;
	border: 2px solid white;
	padding: 10px;
}
div#recrutement>a{
	color:black;
	text-decoration: none;
}

/* div comprennant se connexter et s'inscrire */
div#Sign{
	display:flex;
	flex-direction: row;

}

/* colle le logo sur le coté du header. */
img#logo{

	height: 15vh;
	margin-left: -6vw;
}


div#Inscription{
	border-radius: 30px;
	background-color: pink;
	border: 2px solid white;
	padding: 10px;
	
}

div#Inscription>a{
	color:black;
	text-decoration: none;
}

p.inscrit{
	
	text-align: center;
	margin-top: 10vh;
	margin-left:15vw;
	border: 2px outset;
	background-color: lightgrey;
	width:30vw;
	height: 6vh;
	padding-top: 3vh;
	border-radius:2vw;
}