@font-face {
    font-family: 'MaSuperPolice';
    src: url('PlumNAL.ttf') format('truetype');
}
	

div#home{
	border-style: inset;
	padding: 2vw;
	font-family:MaSuperPolice;
	width:56vw;
	text-align: left;
	font-size: x-large;
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-top: 5vh;
}

div#projetPedag{
	font-family:MPolice;
	src: url('Je n'aime pas le lundi.ttf) format('truetype');
	width:60vw;
	text-align: justify;
	font-size: large;
	display: flex;
	flex-direction: column;

}

h1, h2, h3{
	text-align: center;
	text-decoration: underline;
}

p{
	text-indent: 3%;
}

div#famille{
	background-color: #eeffcc;
	box-shadow: 15px 10px lightgrey;
	border-radius: 5%;
	padding: 2%;
}

div#projet{
	background-color: #d8ebf3;
	box-shadow: 15px 10px lightgrey;
	border-radius: 5%;
	padding: 2%;
}
div#activite{
	background-color:  #fff0b3;
	box-shadow: 15px 10px lightgrey;
	border-radius: 5%;
	padding: 2%;
}

div#pourtous{
	background-color: #ffe6ea;
	box-shadow: 15px 10px lightgrey;
	border-radius: 5%;
	padding: 2%;
}

div#important{
	background-color: lightyellow;
	box-shadow: 15px 10px lightgrey;
	border-radius: 15%;
	padding: 10%;
	text-align: center;
}

