
<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} Menu d'accueil{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    <div id="pageindex">
		<div id="acceuil"><a href="../index"><img src="logo.png" alt="le logo" id="logo"></a>  

			<div id="Inscription"><a href="../../accounts/signup.html"> S'inscrire à la crèche </a></div> 

			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>

			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>

			<div id="Connexion"><a href="../connexion"> Se Connecter </a></div>

		</div>
    {% endblock %}
  </main>
</body>
</html>