<html>
	<head>
	<title> Contribuer </title>
	</head>

	<body>
		<div id="pageContribuer">

			<div id="index"><a href="../../"><img src="../logo.png" alt="le logo" id="logo"></a> 

			<div id="Inscription"><a href="../inscriptionEnfant"> Inscrire son enfant </a></div> 

			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>

			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

		<p id="header"> Bonjour, vous pouvez accéder a votre compte ici : <a href="../monCompte." > Mon Compte </a>  
		</div>
	</body>
</html>
		

	
	<!--	<a href="">Déconnexion</a>   -->

	