{% extends 'appCreche/base.html' %}
{% load static %}
{% block title %}Préinscription Enfant{% endblock %}
{% block content %}
		{% if user.is_superuser %}
		<link rel="stylesheet" type="text/css" href="{% static 'appCreche/forms.css' %}">
		<fieldset id="fieldset"><legend><h2>  Déposer une facture</h2> </legend>	
				<form method="post" enctype="multipart/form-data">
  					{% csrf_token %}
  					{{form}}	
 				<button type="submit"> Valider </button>
				</form>
			</fieldset>
{% endif %}


{% endblock %}