{% extends 'appCreche/base.html' %}
{% load static %}
{% block title %}Préinscription Enfant{% endblock %}
{% block content %}
		{% if user.is_superuser %}
		
		<fieldset id="facture"><h2>  Déposer une facture</h2>
				<form method="post" enctype="multipart/form-data">
  					{% csrf_token %}
  					{{form}}	
 				<button type="submit"> Valider </button>
				</form>
			</fieldset>
{% endif %}


{% endblock %}


<!-- Formulaire de dépos de Facture.
La balise csrf_token litteralement cross site request forgery , permet de protéger les formulaires.  -->