<html>
	<head>
	<title>Notre Equipe</title>
	</head>

	<body>
		<div id="pageEquipe">
		<div id="header"><a href="../index"><img src="../logo2.png" alt="le logo" id="logo"></a> </div>

			<div id="Inscription"><a href="../inscrire/inscriptionEnfant"> Inscrire son enfant </a></div> 

			<div id="Contributeur"><a href="../contribuer"> Contribuer </a></div>

			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<p id="header"> Bonjour, vous pouvez accéder a votre compte ici : <a href="../monCompte" >Mon Compte </a>
		</div>
	</body>
</html>