
{% extends 'appCreche/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div id="pageindex">
		<div id="accueil"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  

			<div id="Equipe"><a href="appCreche/equipe"> L'équipe </a></div>
			
			<div id="recrutement"><a href="appCreche/recrutement"> Recrutement </a></div>

			<div id="Annonces"><a href="appCreche/petitesAnnonces"> Petites Annonces </a></div>

			 <p><a href="{% url 'password_reset' %}">reset password</a></p>
		</div>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<div id="header"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  
<div id="Equipe"><a href="appCreche/equipe"> L'équipe </a></div>

  <p>You are not logged in</p>
  <div id="Inscription"><a href="appCreche/inscription"> S'inscrire à la crèche </a></div> 
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}