{% extends 'appCreche/base.html' %}

{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'appCreche/css/bandeau.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appCreche/css/texte.css' %}">

<div id="baniere">
	
	<img id="1" class="img_baniere visible" alt="bandeau1" src="static/appCreche/images/bandeau/creche_1.jpg">
	<img id="2" class="img_baniere cachee" alt="bandeau2" src="static/appCreche/images/bandeau/creche_2.jpg">
	<img id="3" class="img_baniere cachee" alt="bandeau3" src="static/appCreche/images/bandeau/creche_3.jpg">
	<img id="4" class="img_baniere cachee" alt="bandeau4" src="static/appCreche/images/bandeau/creche_4.jpg">
	<img id="5" class="img_baniere cachee" alt="bandeau5" src="static/appCreche/images/bandeau/creche_5.jpg">
	<img id="6" class="img_baniere cachee" alt="bandeau6" src="static/appCreche/images/bandeau/creche_6.jpg">
	<img id="7" class="img_baniere cachee" alt="bandeau7" src="static/appCreche/images/bandeau/creche_7.jpg">
	<img id="8" class="img_baniere cachee" alt="bandeau8" src="static/appCreche/images/bandeau/creche_8.jpg">
	<img id="9" class="img_baniere cachee" alt="bandeau9" src="static/appCreche/images/bandeau/creche_9.jpg">
	<img id="10" class="img_baniere cachee" alt="bandeau10" src="static/appCreche/images/bandeau/creche_10.jpg">

</div>
<!-- Bandeau de photos qui défile lorsque l'on arrive sur le site.  -->

<div id="home">
<h1> Crèche Gros Calin </h1>


<h2> Présentation de la structure </h2>

<p>La crèche « Gros câlin » est située dans un quartier résidentiel d’Aussonne, au centre

du village, à une quinzaine de kilomètres de Toulouse.</p>
<p>
Elle a été créée en 1988 par un médecin de la commune. Il s’agit d’une structure associative
collective (depuis janvier 2004); c’est à dire qu’elle est gérée par une association à but non
lucratif (loi 1901) qui assure une partie du financement. </p>
<p>La crèche a une capacité d’accueil de 25 enfants âgés de 1 mois à 4 ans. </p>
<p>
Elle est ouverte de 7h30 à 18h30 du lundi au vendredi, elle ferme quatre semaines en été et
une semaine entre Noël et le Jour de l’An.</p>
<p>Les parents payent une cotisation de 50 euros par an et par famille d’adhésion à l’association
ainsi qu’une indemnité mensuelle calculée en fonction des revenus du foyer. </p>
<p>La caisse d’allocation familiale paye une indemnité horaire par enfant.
La mairie d’Aussonne prête les locaux, paye les charges et s’occupe de l’entretien intérieur et
extérieur. Elle donne une subvention.</p>
<p>
La structure est en lien avec les deux autres structures municipales d’Aussonne ainsi
que le RAM; notamment lors de sorties, rencontres...
</p>
<ul>L'équipe de la crèche:

<li>La directrice est chargée du bon fonctionnement administratif de la structure. Elle
s’occupe de la gestion, recrutement, fonctionnement, rôle de chacun, planning.
Également éducatrice de jeunes enfants, elle assure une fonction éducative et
d’animation.</li>
<li>Une éducatrice de jeunes enfants qui est chargée de l’application du projet pédagogique
de la crèche. Elle s’occupe aussi des activités autant dans leur création que dans leur
application. Elle s'occupe aussi d’organiser les sorties extérieures. </li>
<li>Deux auxiliaires de puériculture : animent les différentes activités. Elles sont chargées
aussi de veiller à l’application des règles d’hygiène.</li>
<li>Trois agents techniques petite enfance : elles sont chargées de l’encadrent des enfants,
ainsi que des repas (remise en température des plats, courses, préparation du goûter),
du nettoyage des jouets... </li>
<li>Un agent d'entretien est employée à temps partiel pour le ménage.</li></ul> </div>

<script type="text/javascript" src="static/appCreche/js/bandeau.js"></script>
<!-- récupère le script bandeau.js se situant dans le dossier static/appCreche/js/. Ce fichier contient des fonctions javascript pour faire défiler les photos du bandeau. -->
{% endblock %}