<html>
	<head>
		<title>Home </title>
	</head>
	
	<body>
 		<div id="index">
		<!--<div id="header"><a href="index.php"><img src="logo.png" alt="le logo" id="logo"></a>  -->

			<div id="Inscription"><a href="./inscription.html"> S'inscrire à la crèche </a></div> 

			<div id="Equipe"><a href="./equipe.html"> L'équipe </a></div>

			<div id="recrutement"><a href="./recrutement.html"> Recrutement </a></div>

			<div id="Annonces"><a href="./petitesAnnonces.html"> Petites Annonces </a></div>

			<div id="Connexion"><a href="./connexion.html"> Se Connecter </a></div>

		</div>
	</body>
</html>