<html>
	<head>
		<title>Home </title>
	</head>
	
	<body>
 		<div id="pageindex">
		<div id="header"><a href="../index"><img src="logo.png" alt="le logo" id="logo"></a>  

			<div id="Inscription"><a href="../inscription"> S'inscrire à la crèche </a></div> 

			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>

			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>

			<div id="Connexion"><a href="../connexion"> Se Connecter </a></div>

		</div>
	</body>
</html>