{% extends 'appCreche/base.html' %}
{% block title %}Inscription Enfant{% endblock %}
{% block content %}
		{% if user.is_authenticated %}
	  		<div id="accueil"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  

			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>
			
			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>
		<fieldset id="inscriptionEnfant">		
				<form method="post">
  					{% csrf_token %}
 		
			<legend> Formulaire D'inscription </legend>
			<form method="post" action="InscrireEnfant">

				<label for="prenomEnfant"> Entrez le prénom de votre Enfant : 
					<input type="text" name="prenomEnfant" id="prenomEnfant" required />	
	
				<label for="nomEnfant"> Entrez le nom de famille : 
					<input type="text" name="nomEnfant" id="nomEnfant" required />
		
				<label for="dateDeNaissance"> Selectionnez la Date de naissance de l'enfant 
					<input type="date" name="dateDeNaissance" id="dateDeNaissance" required />

				<label for="nomMere"> Entrez le nom de la mère : 
					<input type="text" name="nomMere" id="nomMere" required />

				<label for="prenomMere"> Entrez le prénom de la mère : 
					<input type="text" name="prenomMere" id="prenomMere" required />	

				<label for="telMere"> Entrez le numéro de téléphone de la mère : 
					<input type="tel" name="telMere" id="telMere" required />

				<label for="mailMere"> Entrez l'email de la mère : 
					<input type="email" name="mailMere" id="mailMere" required />

			 	<label for="ProfessionMere"> Saisissez la Profession de la mère : 
					<input type="text" name="ProfessionMere" id="ProfessionMere" required />
				
				<label for="telEmpMere"> Entrez le numéro de téléphone de l'employeur de la mère : 
					<input type="tel" name="telEmpMere" id="telEmpMere" required />

				<label for="nomPere"> Entrez le nom du père : 
					<input type="text" name="nomPere" id="nomPere" required />

				<label for="prenomPere"> Entrez le prénom du père : 
					<input type="text" name="prenomPere" id="prenomPere" required />	

				<label for="telPere"> Entrez le numéro de téléphone du père : 
				<input type="tel" name="telPere" id="telPere" required />

				<label for="mailPere"> Entrez l'email du père : 
				<input type="email" name="mailPere" id="mailPere" required />

				<label for="telEmpPere"> Entrez le numéro de téléphone de l'employeur du Père : 
					<input type="tel" name="telEmpPere" id="telEmpPere" required />

				<label for="ProfessionPere"> Saisissez la Profession du père : 
					<input type="text" name="ProfessionPere" id="ProfessionPere" required />

				<label for="adresse"> Saisissez l'adresse où habite l'enfant:
					<input type="text" name="adresse" id="adresse" required />

				<label for="adresseDeux"> Saisissez la seconde adresse : (facultatif) 
					<input type="text" name="adresseDeux" id="adresseDeux" />

				<label for="NbEnfantFoyer"> Nombre d'enfants au Foyer : </label>
					<input type="int" name="NbEnfantFoyer" id="NbEnfantFoyer" required />
	<label for="FrequentationLundiDepos"> À quelle heure souhaitez vous déposer votre enfant le Lundi : 

	<select id="FrequentationLundiDepos" name="FrequentationLundiDepos" required>
                <option value="no" selected> Ne viens pas </option>
                <option value="730"> 7h30 </option>
                <option value="800"> 8h </option>
                <option value="830"> 8h30 </option>      
                <option value="900"> 9h </option>
                <option value="930"> 9h30 </option>
            </select>




	<label for="FrequentationLundiRepris"> À quelle heure souhaitez vous récupérer votre enfant le Lundi : 

	<select id="FrequentationLundiRepris" name="FrequentationLundiRepris" required>
                <option value="no" selected> </option>
                <option value="1630"> 16h30 </option>
                <option value="1700"> 17h </option>
                <option value="1730"> 17h30 </option>      
                <option value="1800"> 18h </option>
                <option value="1830"> 18h30 </option>
            </select>





	<label for="FrequentationMardiDepos"> À quelle heure souhaitez vous déposer votre enfant le Mardi : 

	<select id="FrequentationMardiDepos" name="FrequentationMardiDepos" required>
                <option value="no" selected> Ne viens pas </option>
                <option value="730"> 7h30 </option>
                <option value="800"> 8h </option>
                <option value="830"> 8h30 </option>      
                <option value="900"> 9h </option>
                <option value="930"> 9h30 </option>
            </select>






	<label for="FrequentationMardiRepris"> À quelle heure souhaitez vous récupérer votre enfant le Mardi : 
	
	<select id="FrequentationMardiRepris" name="FrequentationMardiRepris" required>
                <option value="no" selected> </option>
                <option value="1630"> 16h30 </option>
                <option value="1700"> 17h </option>
                <option value="1730"> 17h30 </option>      
                <option value="1800"> 18h </option>
                <option value="1830"> 18h30 </option>
            </select>

	





	<label for="FrequentationMercrediDepos"> À quelle heure souhaitez vous déposer votre enfant le Mercredi : 

	<select id="FrequentationMercrediDepos" name="FrequentationMercrediDepos" required>
                <option value="no" selected> Ne viens pas </option>
                <option value="730"> 7h30 </option>
                <option value="800"> 8h </option>
                <option value="830"> 8h30 </option>      
                <option value="900"> 9h </option>
                <option value="930"> 9h30 </option>
            </select>






	<label for="FrequentationMercrediRepris"> À quelle heure souhaitez vous récupérer votre enfant le Mercredi : 
	
	<select id="FrequentationMercrediRepris" name="FrequentationMercrediRepris" required>
                <option value="no" selected> </option>
                <option value="1630" > 16h30 </option>
                <option value="1700"> 17h </option>
                <option value="1730"> 17h30 </option>      
                <option value="1800"> 18h </option>
                <option value="1830"> 18h30 </option>
            </select>






	<label for="FrequentationJeudiDepos"> À quelle heure souhaitez vous déposer votre enfant le Jeudi : 

	<select id="FrequentationJeudiDepos" name="FrequentationJeudiDepos" required>
                <option value="no" selected> Ne viens pas </option>
                <option value="730"> 7h30 </option>
                <option value="800"> 8h </option>
                <option value="830"> 8h30 </option>      
                <option value="900"> 9h </option>
                <option value="930"> 9h30 </option>
            </select>





	<label for="FrequentationJeudiRepris"> À quelle heure souhaitez vous récupérer votre enfant le Jeudi : 
	
	<select id="FrequentationJeudiRepris" name="FrequentationJeudiRepris" required>
                <option value="no" selected> </option>
                <option value="1630"> 16h30 </option>
                <option value="1700"> 17h </option>
                <option value="1730"> 17h30 </option>      
                <option value="1800"> 18h </option>
                <option value="1830"> 18h30 </option>
            </select>





	<label for="FrequentationVendrediDepos"> À quelle heure souhaitez vous déposer votre enfant le Vendredi : 

	<select id="FrequentationVendrediDepos" name="FrequentationVendrediDepos" required>
                <option value="no" selected> Ne viens pas </option>
                <option value="730"> 7h30 </option>
                <option value="800"> 8h </option>
                <option value="830"> 8h30 </option>      
                <option value="900"> 9h </option>
                <option value="930"> 9h30 </option>
            </select>

	<label for="FrequentationVendrediRepris"> À quelle heure souhaitez vous récupérer votre enfant le Vendredi : 
	
	<select id="FrequentationVendrediRepris" name="FrequentationVendrediRepris" required>

                <option value="no" selected> </option>
                <option value="1630"> 16h30 </option>
                <option value="1700"> 17h </option>
                <option value="1730"> 17h30 </option>      
                <option value="1800"> 18h </option>
                <option value="1830"> 18h30 </option>
            </select>

 <button type="submit"> Valider </button>

				</form>
			</fieldset>
{% else %}
  <p>Vous n'êtes pas connecté</p>
  <div id="Inscription"><a href="appCreche/inscription"> S'inscrire à la crèche </a></div> 
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}