{% extends 'appCreche/base.html' %}
{% block title %}Préinscription Enfant{% endblock %}
{% block content %}
		{% if user.is_authenticated %}
	  		<div id="accueil"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  

			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>
			
			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>
		<fieldset id="inscriptionEnfant">		
				<form method="post" enctype="multipart/form-data">
  					{% csrf_token %}
  					{{form}}	
 				<button type="submit"> Valider </button>
				</form>
			</fieldset>
{% else %}
  <p>Vous n'êtes pas connecté</p>
  <div id="Inscription"><a href="appCreche/inscription"> S'inscrire à la crèche </a></div> 
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}