{% extends 'appCreche/base.html' %}
{% block title %}Préinscription Enfant{% endblock %}
{% block content %}
		{% if user.is_authenticated %}
	  		
		<fieldset id="fieldset">	<legend> Inscrire son Enfant </legend>
				<form method="post" enctype="multipart/form-data">
  					{% csrf_token %}
  					{{form}}	
 				<button type="submit"> Valider </button>
				</form>
			</fieldset>
{% else %}
  <p>Vous n'êtes pas connecté</p>
  <div id="Inscription"><a href="appCreche/inscription"> S'inscrire à la crèche </a></div> 
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}