<html>
	<head>
	<title> Modification ponctuelle </title>
	</head>

	<body>
		<div id="pageModifPonctuelle">

			<div id="index"><a href="../index"><img src="../logo.png" alt="le logo" id="logo"></a> 

			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>

			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<p id="header"> Bonjour, vous pouvez accéder a votre compte ici : <a href="./moncompte." > Mon Compte </a>  
		
			<div id="deconnexion"><a href="../deconnexion">Déconnexion</a></div>

		</div>
	</body>
</html>
	