{% extends 'appCreche/base.html' %}
{% block title %}Mon Compte{% endblock %}
{% block content %}
	{% if user.is_authenticated %}

		<div id="accueil"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  

		<div id="Equipe"><a href="../equipe"> L'équipe </a></div>
			
		<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

		<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>
		
		<div id="moncompte"><a href="../monCompte"> Vers mon compte </a></div>
		
		
		<div id="Deconnexion"><a href="{% url 'logout' %}">Deconnexion</a></div>

		{% if EnfantPresent is not None %}

			<table>
			<thead>
				<tr>
					<th colspan="5"> Emploi du temps </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">Lundi</a></td>
					<td><a href="">Mardi</a></td>
					<td><a href="">Mercredi</a></td>
					<td><a href="">Jeudi</a></td>
					<td><a href="">Vendredi</a></td>
					
				</tr>
				<tr>
					<td>{%if enfant.arriveLundi != "no" and enfant.partLundi != "no" %}  {{enfant.arriveLundi}} {% else %} Ne viens pas 
						{% if nbEnfant < 24 %}
						pétanque
						{% endif %}
						
					{% endif %} </td>

					<td>{%if enfant.arriveMardi != "no" and enfant.partMardi != "no" %} {{enfant.arriveMardi}} {% else %} Ne viens pas {% endif %} </td>

					<td>{%if enfant.arriveMercredi != "no" and enfant.partMercredi != "no" %} {{enfant.arriveMercredi}} {% else %} Ne viens pas

					{% if nbEnfant < 24 %}
						pétanque
						{% endif %} 
					{% endif %} </td>

					<td>{%if enfant.arriveJeudi != "no" and enfant.partJeudi != "no" %} {{enfant.arriveJeudi}} {% else %} Ne viens pas 

					{% if nbEnfant < 24 %}
						pétanque
						{% endif %}
					{% endif %} </td>

					<td>{%if enfant.arriveVendredi != "no" and enfant.partVendredi != "no" %} {{enfant.arriveVendredi}} {% else %} Ne viens pas

					{% if nbEnfant < 24 %}
						pétanque
					{% endif %}
				{% endif %} </td>

				</tr>

				<tr>
					<td>{%if enfant.arriveLundi != "no" and enfant.partLundi != "no" %}  {{enfant.partLundi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveMardi != "no" and enfant.partMardi != "no" %}  {{enfant.partMardi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveMercredi != "no" and enfant.partMercredi != "no" %}  {{enfant.partMercredi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveJeudi != "no" and enfant.partJeudi != "no" %}  {{enfant.partJeudi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveVendredi != "no" and enfant.partVendredi != "no" %}  {{enfant.partVendredi}} {% else %} Ne viens pas {% endif %} </td>
				</tr>
			</tbody>
		</table>
		{% endif %}
	{% else %}
				<div id="header"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  
				<div id="Inscription"><a href="appCreche/inscription"> S'inscrire à la crèche </a></div> 
				<a href="{% url 'login' %}">login</a>
		
	{% endif %}

{% endblock %}