{% extends 'appCreche/base.html' %}
{% block title %}Mon Compte{% endblock %}
{% block content %}
	{% if user.is_authenticated %}

		<div id="accueil"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  

		<div id="Equipe"><a href="../equipe"> L'équipe </a></div>
			
		<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

		<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>
		
		<div id="password"><a href="{% url 'password_reset' %}"> Changer le mot de passe </a> </div>

		<div id="Deconnexion"><a href="{% url 'logout' %}">Deconnexion</a></div>
		
		{% if user.is_Parent %}

			{% if EnfantPreinscrit is not None %}

				<p>Votre enfant est préinscrit, la directrice de la crèche analyse votre dossier. </p>

			{% elif EnfantEnAttente is not None %}

				<p>Votre enfant est sur liste d'attente, recontactez la crèche tous les 3 mois environ pour la tenir informée de votre situation. </p>
		
			{% elif EnfantPresent is not None %}

			<h3>Votre fils {{enfant}} est autiste </h3>

			{%if enfant.arriveLundi != "no" and enfant.partLundi != "no" %}  <p>	Le Lundi, votre enfant doit arriver à <b> {{enfant.arriveLundi}} </b> et repartir à <b> {{enfant.partLundi}} </b> </p> {% else %}
				<p> Votre enfant ne viens pas le Lundi </p>
			{% endif %}

			{%if enfant.arriveMardi != "no" and enfant.partMardi != "no" %} 
				<p>	Le Mardi, votre enfant doit arriver à <b> {{enfant.arriveMardi}} </b> et repartir à <b> {{enfant.partMardi}} </b> </p> 
			{% else %}
				<p> Votre enfant ne viens pas le Mardi </p>
			{% endif %}


			{%if enfant.arriveMercredi != "no" and enfant.partMercredi != "no" %}
				<p>	Le Mercredi, votre enfant doit arriver à <b> {{enfant.arriveMercredi}} </b> et repartir à <b> {{enfant.partMercredi}} </b> </p>
			{% else %}
				<p> Votre enfant ne viens pas le Mercredi </p>
			{% endif %}


			{%if enfant.arriveJeudi != "no" and enfant.partJeudi != "no" %} 
				<p>	Le Jeudi, votre enfant doit arriver à <b> {{enfant.arriveJeudi}} </b> et repartir à <b> {{enfant.partJeudi}} </b> </p>	
			{% else %}
				<p> Votre enfant ne viens pas le Jeudi </p>
			{% endif %}



			{%if enfant.arriveVendredi != "no" and enfant.partVendredi != "no" %}
				<p>	Le Vendredi, votre enfant doit arriver à <b> {{enfant.arriveVendredi}} </b> et repartir à <b> {{enfant.partVendredi}} </b> </p> 
			{% else %} 
				<p> Votre enfant ne viens pas le Vendredi </p>		<p> inscrire tempandairement votre enfant </p>
			{% endif %}

			<table>
			<thead>
				<tr>
					<th colspan="5"> Emploi du temps </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">Lundi</a></td>
					<td><a href="">Mardi</a></td>
					<td><a href="">Mercredi</a></td>
					<td><a href="">Jeudi</a></td>
					<td><a href="">Vendredi</a></td>
					
				</tr>
				<tr>
					<td>{%if enfant.arriveLundi != "no" and enfant.partLundi != "no" %}  {{enfant.arriveLundi}} {% else %} Ne viens pas 
						{% if nbEnfant < 24 %}
						pétanque
						{% endif %}
						
					{% endif %} </td>

					<td>{%if enfant.arriveMardi != "no" and enfant.partMardi != "no" %} {{enfant.arriveMardi}} {% else %} Ne viens pas {% endif %} </td>

					<td>{%if enfant.arriveMercredi != "no" and enfant.partMercredi != "no" %} {{enfant.arriveMercredi}} {% else %} Ne viens pas

					{% if nbEnfant < 24 %}
						pétanque
						{% endif %} 
					{% endif %} </td>

					<td>{%if enfant.arriveJeudi != "no" and enfant.partJeudi != "no" %} {{enfant.arriveJeudi}} {% else %} Ne viens pas 

					{% if nbEnfant < 24 %}
						pétanque
						{% endif %}
					{% endif %} </td>

					<td>{%if enfant.arriveVendredi != "no" and enfant.partVendredi != "no" %} {{enfant.arriveVendredi}} {% else %} Ne viens pas

					{% if nbEnfant < 24 %}
						pétanque
					{% endif %}
				{% endif %} </td>

				</tr>

				<tr>
					<td>{%if enfant.arriveLundi != "no" and enfant.partLundi != "no" %}  {{enfant.partLundi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveMardi != "no" and enfant.partMardi != "no" %}  {{enfant.partMardi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveMercredi != "no" and enfant.partMercredi != "no" %}  {{enfant.partMercredi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveJeudi != "no" and enfant.partJeudi != "no" %}  {{enfant.partJeudi}} {% else %} Ne viens pas {% endif %} </td>
					<td>{%if enfant.arriveVendredi != "no" and enfant.partVendredi != "no" %}  {{enfant.partVendredi}} {% else %} Ne viens pas {% endif %} </td>
				</tr>
			</tbody>
		</table>
 
			
			{% if placeSoirLundi < 15 %}
				{% elif enfant.partLundi = "16h30" %}
					<p>	il y a {{placeSoirLundi}} places le Lundi soir entre 16h30 et 18h30. </p>
			{% endif %}
			{% endif %}

			{% if placeSoirMardi < 15 %}
			{% if enfant.partMardi = "16h30" %}
					<p>	il y a {{placeSoirMardi}} places le Mardi soir entre 16h30 et 18h30. </p>
			{% endif %}
			{% endif %}

			{% if placeSoirMercredi < 15 %}
			{% if enfant.partMercredi = "16h30" %}
					<p>	il y a {{placeSoirMercredi}} places le Mercredi soir entre 16h30 et 18h30. </p>
			{% endif %}
			{% endif %}

			{% if placeSoirJeudi < 15 %}
			{% if enfant.partJeudi = "16h30" %}
					<p>	il y a {{placeSoirJeudi}} places le Jeudi soir entre 16h30 et 18h30. </p>
			{% endif %}
			{% endif %}

			{% if placeSoirVendredi < 15 %}
			{% if enfant.partVendredi = "16h30" %}
					<p>	il y a {{placeSoirVendredi}} places le Vendredi soir entre 16h30 et 18h30. </p>
			{% endif %}
			{% endif %}

			<a href="/"> Je souhaite faire une modification de temporaire </a>
			<p>	Pour voir votre dernière facture : <a href="../../media/{{parent.FactureCreche}}"> Cliquez ici</a> </p>


			Pour tous changements, veuillez contacter la crèche 
			{% endif %}
		{% endif %}
		
		{% if user.is_Employe %}

			Bonjour {{employe.prenom}} {{employe.nom}}
		<table>
			<thead>
				<tr>
					<th colspan="6"> Emploi du temps </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Semaines</td>
					<td>Lundi</td>
					<td>Mardi</td>
					<td>Mercredi</td>
					<td>Jeudi</td>
					<td>Vendredi</td>
					
				</tr>

				<tr id="jaune">
					<td>Jaune</td>
					<td>{%if handaireLundiSemaineJaune != "no" %} {{employe.handaireLundiSemaineJaune}} {% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMardiSemaineJaune != "no" %} {{employe.handaireMardiSemaineJaune}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMercrediSemaineJaune != "no" %} {{employe.handaireMercrediSemaineJaune}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireJeudiSemaineJaune != "no" %} {{employe.handaireJeudiSemaineJaune}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireVendrediSemaineJaune != "no" %} {{employe.handaireVendrediSemaineJaune}}{% else %} Ne travaille pas {% endif %} </td>
				</tr>
				<tr id="rouge">
					<td>Rouge</td>
					<td>{%if handaireLundiSemaineRouge != "no" %} {{employe.handaireLundiSemaineRouge}} {% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMardiSemaineRouge != "no" %} {{employe.handaireMardiSemaineRouge}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMercrediSemaineRouge != "no" %} {{employe.handaireMercrediSemaineRouge}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireJeudiSemaineRouge != "no" %} {{employe.handaireJeudiSemaineRouge}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireVendrediSemaineRouge != "no" %} {{employe.handaireVendrediSemaineRouge}}{% else %} Ne travaille pas {% endif %} </td>
				</tr>
				<tr id="bleu">
					<td>Bleue</td>
					<td>{%if handaireLundiSemaineBleue != "no" %} {{employe.handaireLundiSemaineBleue}} {% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMardiSemaineBleue != "no" %} {{employe.handaireMardiSemaineBleue}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMercrediSemaineBleue != "no" %} {{employe.handaireMercrediSemaineBleue}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireJeudiSemaineBleue != "no" %} {{employe.handaireJeudiSemaineBleue}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireVendrediSemaineBleue != "no" %} {{employe.handaireVendrediSemaineBleue}}{% else %} Ne travaille pas {% endif %} </td>
				</tr>
				<tr id="vert">
					<td>Verte</td>
					<td>{%if handaireLundiSemaineVerte != "no" %} {{employe.handaireLundiSemaineVerte}} {% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMardiSemaineVerte != "no" %} {{employe.handaireMardiSemaineVerte}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMercrediSemaineVerte != "no" %} {{employe.handaireMercrediSemaineVerte}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireJeudiSemaineVerte != "no" %} {{employe.handaireJeudiSemaineVerte}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireVendrediSemaineVerte != "no" %} {{employe.handaireVendrediSemaineVerte}}{% else %} Ne travaille pas {% endif %} </td>
				</tr>
				<tr id="noir">
					<td>Noire</td>
					<td>{%if handaireLundiSemaineNoire != "no" %} {{employe.handaireLundiSemaineNoire}} {% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMardiSemaineNoire != "no" %} {{employe.handaireMardiSemaineNoire}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMercrediSemaineNoire != "no" %} {{employe.handaireMercrediSemaineNoire}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireJeudiSemaineNoire != "no" %} {{employe.handaireJeudiSemaineNoire}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireVendrediSemaineNoire != "no" %} {{employe.handaireVendrediSemaineNoire}}{% else %} Ne travaille pas {% endif %} </td>
				</tr>
				<tr id="rose">
					<td>Rose</td>
					<td>{%if handaireLundiSemaineRose != "no" %} {{employe.handaireLundiSemaineRose}} {% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMardiSemaineRose != "no" %} {{employe.handaireMardiSemaineRose}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireMercrediSemaineRose != "no" %} {{employe.handaireMercrediSemaineRose}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireJeudiSemaineRose != "no" %} {{employe.handaireJeudiSemaineRose}}{% else %} Ne travaille pas {% endif %} </td>
					<td>{%if handaireVendrediSemaineRose != "no" %} {{employe.handaireVendrediSemaineRose}}{% else %} Ne travaille pas {% endif %} </td>
				</tr>
			</tbody>


		{% endif %}
	
		{% else %}
		<div id="header"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a>  

		<div id="Inscription"><a href="appCreche/inscription"> S'inscrire à la crèche </a></div> 
		<a href="{% url 'login' %}">login</a>
	{% endif %}


{% endblock %}