{% extends 'appCreche/base.html' %}
{% load static %}
{% block title %}Projet Pédagogique {% endblock %}


{% block nav %}

	<div class="sidebar">
   			<a href="#projetPedag"> Projet Pédagogique </a>
		    <a href="#enfant"> Enfant </a>
		    <a href="#parents">Parents</a>
		    <a href="#sommeil">Sommeil</a>
		    <a href="#repas"> Repas	</a>
		    <a href="#hygiene"> Hygiène </a>
		    <a href="#communication"> La communication </a>
		    <a href="#activite"> Activités </a>
		    <a href="#politesse"> Politesse </a>
			<a href="#vieext"> La vie extérieure</a>
		    <a href="#eau"> Importance de l'eau</a>
		    <a href="#Anniv"> Les Anniversaires</a>
	</div>

{% endblock nav %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'appCreche/nav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'appCreche/body.css' %}">
<div id="projetPedag">
<div id="important">


<b>« Gros Câlin »  fait de son mieux pour que l’enfant  ne voit pas le temps passer jusqu’à ce que maman ou papa revienne le chercher.
Respecter au mieux le rythme de l’enfant afin d’assurer son bien-être reste une priorité de la crèche.</b>

		<h2> Chaque enfant est unique ! </h2>
</div>
<div id="famille">

<h2 id="haut" class="titre"> Projet Pédagogique </h2>
<h3 id="enfant"> Pour l’enfant </h3>

<p>La structure favorise l’apprentissage de la vie collective. Elle lui permet d’avoir les relations avec des enfants de n’importe quel âge et des enfants handicapés (apprendre à vivre ensemble).
L’accueil collectif ne fera pas oublier l’individualisation de chaque relation afin de privilégier la personnalité spécifique de chaque enfant. </p>

<h3 id="parents"> Pour les parents </h3>
<p>
C’est aussi un lieu qui accueille les parents. Tout d’abord durant les périodes d’adaptation, à l’arrivée le matin et le soir.
Ils seront régulièrement sollicités afin d’avoir une démarche de co-éducation pour assurer une cohésion et une continuité dans le développement de l’enfant.
Beaucoup de parents ont choisi ce mode de garde parce qu’ils pouvaient participer au fonctionnement de la crèche, pouvoir dire leur mot et même devoir le dire quand il le faut. Elle leur permet enfin d’entrer en contact avec d’autres parents.
</p></div>
<div id="projet">

<h2> Le projet a été établi en fonction des besoins et de l’âge des enfants : sommeil, repas et hygiène pour commencer.</h2>


<h3 id="sommeil"> Le sommeil </h3>

<p>Le matin, au premier signe de fatigue, l’enfant est couché s’il le désire jusqu’à son réveil spontané.
La sieste de l’après-midi se déroule dans la pénombre pour ramener le calme et se situe après le repas pour une durée indéterminée, c’est-à-dire que l’enfant reste au lit autant qu’il le désire. Afin que ce moment de repos se passe le mieux possible, les doudous et les sucettes sont de la partie. Un adulte assure l’endormissement puis surveille la sieste. Le réveil est échelonné : chacun à son rythme. 
</p>


<h3 id="repas">Les Repas</h3>


<p>C’est un temps relationnel mais aussi le temps de la formation du goût. Les repas sont livrés tous les jours par un traiteur. Une spécialiste assure le bon équilibre diététique des repas. Ils sont modifiés en fonction de l’état de santé du jour (diarrhée…), la religion des parents… Les menus sont affichés et peuvent être distribués individuellement à chaque parent qui le souhaite.
En ce qui concerne les plus petits, nous nous attachons à ce que leur repas se déroule dans le calme et à leur rythme car c’est un moment de relation privilégiée entre l’adulte et l’enfant.
Pour les plus grands, il est important aussi que ce moment se déroule dans la sérénité. L’enfant va apprendre à se servir tout seul. Il va intégrer cette capacité à faire seul, à devoir mesurer ses gestes et ses envies, à doser le contenu de son assiette.  A la fin du repas, chaque enfant débarrassera ses couverts.
Pour une dimension éducative, il est important que l’enfant goûte à tous les plats présentés (variété des goûts). Les desserts nature ne seront pas sucrés respectant ainsi les apports nutritionnels des aliments. 
Le personnel prendra ses repas en même temps que les enfants dans la salle à manger.
</p>

<h3 id="hygiene"> L’Hygiène </h3>

<p> Le change est aussi un moment de relation duelle entre l’enfant et l’adulte, un moment de jeu, jeu corporel, visuel, du sourire, du toucher, du regard.
Les enfants sont changés aussi souvent que nécessaire grâce aux couches et aux affaires de rechange fournies par les parents.
Avant le repas, les enfants se lavent les mains. Après le repas, une légère toilette est nécessaire pour beaucoup avant d’aller au lit. 
L’acquisition de la propreté est toujours basée sur l’écoute de l’enfant et se fait en collaboration avec les parents. En règle générale, ils seront mis sur le pot à heures fixes (à voir selon leurs besoins habituels). Ils ne seront pas réprimandés en cas d’oubli mais toujours encouragés en leur expliquant combien il est confortable d’être au sec. Une fois acquise, la propreté sera une affaire à gérer eux-mêmes et les enfants se rendront seuls aux toilettes les rendant peu à peu autonomes pour la rentrée scolaire.
</p>

<h3 id="communication"> La communication gestuelle associée à la parole </h3>

<p>La communication gestuelle associée à la parole est un facilitateur d’échange entre l’adulte et l’enfant. Il permet à l’enfant de se faire comprendre, lui limite les sources de frustrations. L’enfant se sent valorisé car il se sent écouté. La relation individuelle est ainsi privilégiée.
Cet outil sera aussi utilisé lors des chansons, des lectures et aura ainsi une dimension ludique.</p>
</div>
<div id="activite">
<h2 id="activite"> Les activités </h2>

<h3 id="jeu"> Le jeu libre </h3>

<p>C’est dans le jeu que l’enfant peut s’autoriser sans risque à ne dépendre que de lui-même. D’où l’importance de mettre à disposition des enfants, des jouets, du matériel, vers lesquels il décidera ou non d’aller, qu’il choisira lui-même , pour lesquels il prendra ou non l’initiative de l’exploration ou de l’expérimentation par lui-même.
</p>
<p>
Un thème sera retenu chaque année qui servira de fil conducteur aux activités et sorties proposées aux enfants.
Ce support mobilisera aussi la participation des parents qui s’investiront eux ainsi dans les recherches de documents, matériels, jouets et autres.
Des groupes d’enfants seront constitués par âge afin de proposer des ateliers adaptés à chacun.
</p>

<h4>Pour les petits (jusqu’à 10 mois environ) : </h4>

<p>Ils auront un espace à eux mais ne seront pas exclus de la vie commune.
Le maternage est très important pour les nourrissons qui ont besoin d’être enveloppé dans les bras, les mains, la poitrine de l’adulte afin de pouvoir s’y lover. Ces conditions affectives, relationnelles et matérielles mises en places par l’adulte favorisent la stabilité et la continuité dans l’expérience vécue par l’enfant.
L’intonation des mots permet au bébé de ressentir l’accord entre cette parole et ses propres émotions ; le regard, le sourire, les mimiques, la mobilité du visage de l’adulte confirment et renforcent le message que reçoit l’enfant. C’est pourquoi des relations individuelles avec chaque bébé pour le porter, le bercer, le cajoler, lui parler, lui faire écouter de la musique….. seront primordiales.</p>

<h4>Pour les moyens (de 10 mois à 20 mois environ) :</h4>

<p>
Le début de la marche : l’enfant essaie de conquérir l’espace ; l’enfant devient petit à petit actif d’où l’importance de la psychomotricité( jeux de parcours, de cerceaux, d’imitation, danse,…). Il observera l’adulte pour l’imiter. C’est le bon moment pour le stimuler à manger seul, à s’habiller, faire les gestes de la vie quotidienne lui-même.
C’est aussi le début du langage : les chansons, les dialogues, les rondes seront les supports à une meilleure acquisition du langage, du vocabulaire.
On remarque aussi la manipulation plutôt que l’attention prime dans toute activité dirigée. </p>

<h4>Pour les grands (après 20 mois) : </h4>
<p>
Avec le jeu symbolique, l’enfant imite le monde des adultes pour mieux comprendre et y trouver sa place. L’imaginaire entre dans son jeu.
L’enfant cherche de plus en plus la compagnie de l’autre. A travers les jeux libres chacun pourra s’exprimer. Mais les activités proposées demanderont de plus en plus de précision dans leurs gestes tels que les découpages, les collages, la pâte à modeler, la peinture, le dessin, le graphisme. La création d’objets finale sera leur plus grande fierté.
</p>
</div>

<div id="pourtous">

<h3> L’aménagement de l'espace </h3>

<p>Il  a un rôle dans le développement physique et psychique de l’enfant qui évolue en permanence dans l’espace qui le contient et en communication avec lui.
L’enfant acquiert la maîtrise de son corps et de l’espace à travers l’environnement mis à sa disposition et apprend à gérer les notions de reliefs, distances, hauteurs et dangers.
L’apprentissage de la collectivité et la socialisation nécessitent l’aménagement de « coins » divers où chaque relation trouvera son cadre : se cacher et rester seul, jouer avec les autres, se blottir contre l’adulte….
Tout geste accompli auprès de l’enfant ne devient compréhensible par celui-ci que s’il est annoncé, puis accompagné de mots qui lui donnent un sens.  Les mots qui précèdent et/ou accompagnent les gestes vont lui permettre d’anticiper la situation et de ne pas la subir, dans une véritable relation d’échanges et dans un moment de plaisir partagé.
</p>
<h3 id="politesse">La politesse</h3>

<p><b> La politesse rejoint le respect de l’autre :</b> on incitera l’enfant naturellement, en  comptant aussi sur les vertus de l’imitation à être poli.</p>

<h3 id="vieext"> La vie a l'extérieur </h3>

<p>Qu’ils aient 3 mois ou 3 ans, la vie à l’extérieur ne peut que leur procurer des plaisirs à travers les découvertes, les observations, les jeux de plein air, l’élaboration d’un jardin potager….
L’enfant pourra sortir par n’importe quel temps (sauf si son état de santé n’est pas satisfaisant) et pour n’importe quelle occasion (achats en ville, spectacles, promenades…).
Une sortie en fin d’année viendra clôturer la saison afin de les dépayser de leur milieu quotidien. </p>


<h3 id="eau"> L’Eau </h3>
<p>
Sa place est constante dans la vie de tous les jours. L’enfant la retrouve en tournant le robinet en allant se laver les mains, en faisant sa toilette, en buvant…
Toute l’année, les enfants pourront s’ébattre tranquillement dans une piscine et les plus petits auront une piscine spécialement pour eux.
</p>


<h3 id="Anniv"> Les Fêtes et anniversaire </h3>

<p>Aucune fête ne sera épargnée et l’on demandera à l’enfant une participation active. Il aura marqué, tout au long de l’année, toutes les fêtes qui puissent exister (Carnaval, Pâques, Noël…) et aura été le roi de la fête le jour de son anniversaire. Les parents pourront s’investir dans toutes ces manifestations en apportant leurs idées, en s’incluant dans les spectacles… 
</p>

</div>


</div>
{% endblock %}