{% extends 'appCreche/base.html' %}
{% block title %}Mon Compte{% endblock %}
{% block content %}
		
		{% for OffreEmploi in OffreEmploi %}
		<div id="emploi">
    			<h4>{{ OffreEmploi.intituleDuPoste }}</h4>
    			<p>{{ OffreEmploi.DescriptionDuPoste }} </p>
    			<p>{{ OffreEmploi.diplomesRequis }} </p>
    			<p>{{ OffreEmploi.Contact }} </p>
    	</div>
		{% empty %}
    
    <div id="emploi"> Il n'y a pas d'offres d'emploi de disponibles </div>

{% endfor %}

	{% if user.is_staff %}
	<a href="../../admin/appCreche/offreemploi/add/"> Ajouter une Offre d'emploi </a>
	{% endif %}
{% endblock %}