{% extends 'appCreche/base.html' %}
{% block title %}Mon Compte{% endblock %}
{% load static %}
{% block content %}
		<link rel="stylesheet" type="text/css" href="{% static 'appCreche/css/emploi.css' %}">
		{% for OffreEmploi in OffreEmploi %}
		<div id="emploi">
    			<h3>{{ OffreEmploi.intituleDuPoste }}</h3>
    			<p>{{ OffreEmploi.DescriptionDuPoste }} </p>
    			<p>{{ OffreEmploi.diplomesRequis }} </p>
    			<p>{{ OffreEmploi.Contact }} </p>
    	</div>
		{% empty %}
    
    <p class="inscrit"> Il n'y a pas d'offres d'emploi de disponibles </p>

{% endfor %}

	{% if user.is_superuser %}
	<a href="../../admin/appCreche/offreemploi/"> Modifier, Ajouter ou Retirer une Offre d'emploi. </a>
	{% endif %}
{% endblock %}