<html>
	<head>
		<title> Tableau Emploi du temps Employe </title>
	</head>
	
	<body>
 		<div id="pageEmploye">
		<div id="header"><a href="../../"><img src="logo.png" alt="le logo" id="logo"></a> 


			<div id="Equipe"><a href="../equipe"> L'équipe </a></div>

			<div id="recrutement"><a href="../recrutement"> Recrutement </a></div>

			<div id="Annonces"><a href="../petitesAnnonces"> Petites Annonces </a></div>

			<div id="deconnexion"><a href="../deconnexion">Déconnexion</a></div>
			
		</div>
	</body>
</html>