
table#Jaune{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: yellow;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

table#Rouge{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: #ff4d4d;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

table#Bleu{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: lightblue;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

table#Vert{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: lightgreen;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

table#Noir{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: grey;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

table#Rose{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: #df80ff;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

table#enfant{
	border: 2px solid purple;
	margin-bottom: 5%;
	border-radius: 20px;
	background-color: lightgrey;
	table-layout: auto;
	width: 100%;
	height: 15%;
}

th{
	border-radius: 20px;
	border: 2px solid black;
	
}
td{
	text-align: center;
}